<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <div>
        <div>Login</div>
        <form th:action="@{/login}" method="POST">
            <label>Username</label>
            <input type="text" name="username" />
            <label>Password</label>
            <input type="password" name="password" />
            <input type="submit" value="Log in" />
        </form>
        <p th:if="${error}" th:text="${error}">error message here</p>
    </div>a
</body>
</html>
 -->

 <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
 <!-- Core theme JS-->
 <script src="js/scripts.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
 <!-- * *                               SB Forms JS                               * *-->
 <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
 <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
 <!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>> -->
 <script>
     $(document).ready(function(){
         $('form').on('submit', function(ev){
             // This prevents the form from doing its default submit behavior
             ev.preventDefault();

             // Use Javascript to post the email to the server instead of posting to a new page

             //First, get email address from form
             var form = $(ev.currentTarget);
             var email = form.find('input[name="email"]').val();

             // Send the email as JSON data
             const data = {email: email};

             fetch(form.attr('action'), {
                 method: 'POST',
                 headers: {
                     'Content-Type': 'application/json'
                 },
                 body: JSON.stringify(data),
             })
             .then(response => response.json())
             .then(data => {
                 console.log(data);
                 $('#staticBackdrop').modal('show')
             })
             .catch((error) => {
                 console.error('Error:', error);
             });
         });
     });
 </script> -->

<!-- Call to Action-->
<section class="call-to-action text-white text-center" id="signup">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <h2 class="mb-4">Ready to get started? Sign up now and get 40% off registration price!</h2>
                <form>
                    <!-- Email address input-->
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="Email Address">
                        </div>
                        <div class="col-auto"><button class="btn btn-primary btn-lg btn-block" name="email" type="submit">Submit</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">We'll notify you </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                 You've been added to the list. We'll notfiy you when registration begins.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
