<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <div>
        <div>Login</div>
        <form th:action="@{/login}" method="POST">
            <label>Username</label>
            <input type="text" name="username" />
            <label>Password</label>
            <input type="password" name="password" />
            <input type="submit" value="Log in" />
        </form>
        <p th:if="${error}" th:text="${error}">error message here</p>
    </div>a
</body>
</html>
 -->
