<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Product Edit" />
        <meta name="author" content="Dalena" />
        <title>Product Edit</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS (including jquery)-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="http://localhost:35729/livereload.js"></script>
    </head>
	<body>
		<div align="center">
			<br>
			<h3>Edit Products</h3>
			<br>
            <!-- Edit Product Form -->
			<form th:action="@{/product/update/{id}(id=*{prodID})}"
				th:object="${editProduct}" method="POST" id="edit-form">
				<table>
					<tr>
						<td>Product Id</td>
						<td><input type="text" disabled="disabled" name="ProductID"
							th:field="*{prodID}" id="prodID"/></td>
					</tr>
					<tr>
						<td>Product Name</td>
						<td><input type="text" name="Name"
							th:field="*{prodName}" id="prodName"/></td>
					</tr>
					<tr>
						<td>Product Stock</td>Stock
						<td><input type="number" name="Stock" th:field="*{prodStock}" id="prodStock"/></td>
					</tr>
					<tr>
						<td>Product Price</td>
						<td><input type="number" name="Price" th:field="*{prodPrice}" id="prodPrice"/></td>
					</tr>
				</table>
				<button id="prodSubmit" type="submit" class="btn">Submit</button>
			</form>
            <!-- Product Added Modal -->
            <div class="modal fade" id="productBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Product Added </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        Product Added.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- No Product Details Modal -->
            <div class="modal fade" id="missingProductBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">No Product Added</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        Error. Please add a product.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</body>
	<script async src="../js/scripts.js"></script>
	</html>
